

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 @font-face {
    font-family: 'MinstrelPoster';
    src: 
         url('/fonts/Minstrel-Poster-NF.woff2') format('woff2'),
         url('/fonts/Minstrel-Poster-NF.woff') format('woff'),
         url('/fonts/Minstrel-Poster-NF.ttf')  format('truetype');
}

@font-face {
    font-family: 'MinstrelPoster2';
    src: 
         url('/fonts/Minstrel-Poster-Two-NF.woff2') format('woff2'),
         url('/fonts/Minstrel-Poster-Two-NF.woff') format('woff'),
         url('/fonts/Minstrel-Poster-Two-NF.ttf')  format('truetype');
}

body {
	font-family: 'MinstrelPoster', sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #1e2040;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.6;
	color: #bd8ebf;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #e1be53;
}
a {
	color: #8c9be6;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #0a111b;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #777dec;
	color: #b16800;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
