---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="logo">
	<img src="/logo.svg" alt="logo" />
	<!-- <h2>
		{SITE_TITLE}
	</h2> -->
</div>

	<nav>
		<HeaderLink href="/">HoDaFuqme</HeaderLink>
		<HeaderLink href="/blog">whatheshit</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	.logo {
		margin: .2em 0;
		padding: 4 ch 0 0;
		width: 12rem;
	}
</style>
