---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<MainLayout title="Projects" description="Projects by Mega Ultra Studios" >

			<section>
				<ul>
					{
						projects.map((project) => (
							<li>
								<time datetime={project.data.pubDate.toISOString()}>
									{project.data.pubDate.toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}
								</time>
								<a href={`/projects/${project.slug}/`}>{project.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</MainLayout>

